<div class = 'cont'>
    <div class = 'text-center input-group input-group-lg' id= 'form-cont'>
        <%= form_with scope: :task, class: 'form', url: category_task_path, method: :patch do |form| %>
            <h2 id = 'edit-title'> Edit <%= @task.title %> </h2>
            <div class="field">
                <%= form.label :title, class: 'form-label' %>
                <%= form.text_field :title, class: 'form-control', id: 'edit-text' %>
            </div>
            <div class="field">
                <%= form.label :body, class: 'form-label' %>
                <%= form.text_area :body, class: 'form-control', id: 'edit-text' %>
            </div>
            <div class="field">
                <%= form.label :date, class: 'form-label' %>
                <%= form.date_field :date, class: 'form-control', id: 'edit-text' %>
            </div>
            <div class="actions">
                <%= form.submit "Submit", class: 'btn btn-secondary', id: 'submit-btn' %>
            </div>
        <% end %>
    </div>
</div>