<h1> Edit <%= @task.body %>
<div class = 'input-cont'>
    <%= form_with scope: :task, class: 'form', url: new_category_task_path do |form| %>
        <%= form.label :body %>
        <%= form.text_area :body, class: 'text-area' %>
        <%= form.label :date %>
        <%= form.number_field :date, class: 'text-field' %>
        <%= form.submit "Submit", class: 'button' %>
    <% end %>
</div>