<h1> Edit <%= @category.title %> </h1>
<div class = 'input-cont'>
    <%= form_with model: @category, url: category_path, class: 'form', method: :patch do |form| %>
        <%= form.label :title %>
        <%= form.text_field :title, class: 'text-field' %>
        <%= form.label :description %>
        <%= form.text_area :description, class: 'text-area' %>
        <%= form.label :rating %>
        <%= form.text_area :rating, class: 'text-field' %>
        <%= form.submit "Submit", class: 'button' %>
    <% end %>
</div>