<div class = 'cont'>
    <table class="table table-dark">
        <thead>
            <tr>
                <span id = 'cat-title'> Due today </span> 
            </tr>
            <tr>
                <%= link_to "New Task", new_category_task_path, class: 'btn btn-secondary', id: 'new-task-btn' %>
            </tr>
            <tr>
                <th class = 'table-content'> Title </th>
                <th class = 'table-content'> Task </th>
                <th class = 'table-content'> Date </th>
                <th class = 'table-content'> Actions </th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each do |task| %>
                <% if task.date == Date.today %>
                    <tr>
                        <td class = 'table-content'> <%= task.title %> </td>
                        <td class = 'table-content'> <%= task.body %> </td>
                        <td class = 'table-content'> <%= task.date %> </td>
                        <td class = 'table-actions'>                     
                            <%= link_to "Open", category_task_path(@category.id, task.id), class: 'btn btn-info' %>
                            <%= link_to "Edit", edit_category_task_path(@category.id, task.id), class: 'btn btn-light'  %>
                            <%= link_to "Delete", category_task_path(@category.id, task.id), method: "delete", class: 'btn btn-danger', data: { confirm: "Are you sure?" } %> 
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>    