<div class = 'cont'>
    <table class="table table-dark">
        <thead>
            <tr>
                <%= link_to "New Category", new_category_path, class: 'btn btn-secondary', id: 'new-cat-btn' %>
            </tr>
            <tr>
                <th class = 'table-content'> Title </th>
                <th class = 'table-content'> Description </th>
                <th class = 'table-content'> Rating </th>
                <th class = 'table-content'> Actions </th>
            </tr>
        </thead>
        <tbody>
            <% @categories.each do |category| %>
                <tr>
                    <td class = 'table-content'> <%= category.title %> </td>
                    <td class = 'table-content'> <%= category.description %> </td>
                    <td class = 'table-content'> <%= category.rating %> </td>
                    <td class = 'table-actions'>
                        <%= link_to "Due Today", category_filter_path(category), class: 'btn btn-success' %>               
                        <%= link_to "Open", category_tasks_path(category), class: 'btn btn-info' %> 
                        <%= link_to "Edit", edit_category_path(category), class: 'btn btn-light' %> 
                        <%= link_to "Delete", category_path(category), method: "delete", class: 'btn btn-danger', data: { confirm: "Are you sure?" } %> 
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>