<div class = 'login-cont'>
    <h2> New Category </h2>
    <div class = 'text-center input-group input-group-lg', id = 'form-cont'>
        <%= form_with scope: :category, class: 'form', url: categories_path do |form| %>
            <%= form.label :title, class: 'form-label' %>
            <%= form.text_field :title, class: 'form-control' %>
            <%= form.label :description, class: 'form-label' %>
            <%= form.text_area :description, class: 'form-control' %>
            <%= form.label :rating, class: 'form-label' %>
            <%= form.text_area :rating, class: 'form-control' %>
            <%= form.submit "Submit", class: 'btn btn-secondary', id: 'submit-btn' %>
        <% end %>
    </div>
</div>